{
	"bootstrapped": true,
	"installed_packages":
	[
		"Alignment",
        "BracketHighlighter",
        "ColorHighlighter",
        "ColorPicker",
        "Emmet",
        "GitGutter",
        "GutterColor",
        "MarkdownEditing",
        "Sass",
        "SideBarEnhancements",
        "SublimeCodeIntel",
        "SublimeLinter",
        "SublimeLinter-flake8",
        "Theme - Afterglow"
	]
}
